# Core
mypy==1.18.2

# Data libraries
duckdb==1.4.1
numpy==2.3.4
pandas==2.3.3
pandas-stubs==2.3.2.250926
polars==1.34.0

# Data science 
ipykernel==7.0.1
jupyterlab==4.4.9
flwr[simulation]==1.22.0
scikit-learn==1.7.2
torch==2.9.0

# Data Viz
altair==5.5.0
matplotlib==3.9.4
seaborn==0.13.2
